---
import styles from "./NavButtons.module.scss";
---

<nav class={styles.query_wrapper}>
  <a class={`${styles.query_item}`} href="/">Inicio</a>
  <a class={`${styles.query_item}`} href="/movies">Películas</a>
  <a class={`${styles.query_item}`} href="/tv">Series TV</a>
  <a class={`${styles.query_item}`} href="/premieres">Estrenos</a>
  <!-- <a class={`${styles.query_item}`} href="/dmca">DMCA</a>
  <a class={`${styles.query_item}`} href="/vip">VIP</a> -->
</nav>
